/*VARIABLES*/
:root {
    --list-header-height: 60px;
    --list-jumbo-height: 90px;
    --list-alert-height: 50px;
    --chat-main-user-input-height: 50px;
}

/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*COMMON*/
img {
    max-width: 100%;
}

body {
    font-family: 'Helvetiva Neue', sans-serif;
}

/*CURSOR*/
.cu-clickable {
    cursor: pointer;
}

/*flex*/
.flexrw {
    display: flex;
    width: 100%;
}

/*LAYOUT*/
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(to bottom, #00bd26 0px, #00bd26 15vh, rgb(213, 210, 210) 15vh, rgb(213, 210, 210));
    /*debug*/
    background-color: lightcoral;
}

.chat-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 600px;
    display: flex;
}

.chat-list {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat-main {
    width: calc(100% - 35%);
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*CHAT-LIST CHILDS*/
.list-header,
.friend-header {
    width: 100%;
    height: var(--list-header-height);
    background-color: #eaeaea;
    border-bottom: 1px solid black;
    display: flex;
}

/*LIST HEADER CHILDS*/
.user-icon {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.user-icon img {
    width: 60px;
    height: 100%;
    border-radius: 50%;
}

.username {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user-functions {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    color: rgb(68, 68, 67);
}

/*END LIST HEADER CHILDS*/
.list-jumbotron {
    width: 100%;
    height: var(--list-jumbo-height);
    background-color: aqua;
}

.alert,
.search-chat {
    width: 100%;
}

.alert {
    height: var(--list-alert-height);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.search-chat {
    height: calc(100% - var(--list-alert-height));
    background-color: white;
    display: flex;
    align-items: center;
}

.list-users {
    width: 100%;
    flex-grow: 1;
    height: 100px;
    overflow-y: scroll;
    background-color: white;
}

/*ALERT CHILDS*/
.bell-icon {
    width: 10%;
    height: 35px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(127, 193, 255);
}

.banner {
    flex-grow: 1;
}

/*SEARCH CHAT CHILDS*/
.search-icon {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.search-icon,
.search-input {
    height: 100%;
}

#user-search {
    width: 100%;
    height: 100%;
}

/*LIST-USERS CHILDS*/
.card-user {
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    padding: 5px;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

/*CARD-USER CHILDS*/
.card-user img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.card-infos {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60px);
}

/*CHAT-MAIN CHILDS*/
.chat {
    flex-grow: 1;
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
}

.user-input {
    width: 100%;
    height: var(--chat-main-user-input-height);
    background-color: white;
}

.empty-chat {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*FRIEND HEADER CHILDS*/
.friend-icon {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.friend-icon img {
    border-radius: 50%;
}

.friend-name {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.friend-functions {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

#active-friend {
    display: flex;
    width: 100%;
}

.myLogo {
    margin: 0 auto;
    width: 100px;
}

/*CHAT CHILDS*/
.chat-box {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.message-sended,
.message-receved {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.message-sended {
    margin-left: 320px;
    align-self: flex-end;
    justify-content: flex-end;
}

.message-receved {
    align-self: flex-start;
    justify-content: flex-start;
}

/*MESSAGE-SENDED AND MESSAGE-RECEVED CHILDS*/
.message-box {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
}

.message-text {
    width: 50%;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.message-time {
    width: 15%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    padding: 0 5px;
    font-size: 0.7em;
}

.user-input {
    display: flex;
}

/*USER INPUT CHILDS*/
.emoji,
.send-vocal {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.input-text {
    flex-grow: 1;
    display: flex;
}

.inputmessage {
    width: 100%;
}

/*MESSAGE-COLOURS*/
.send {
    background-color: #d5f9ba;
}

.receve {
    background-color: white;
}

.hidden {
    display: none;
}

.width_hundred {
    width: 100%;
}