<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <!--Luxon Script-->
    <script src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="container" id="app">
        <div class="chat-container">
            <div class="chat-list">
                <div class="list-header">
                    <div class="user-icon">
                        <img src="img/avatar_io.jpg" alt="User">
                    </div>
                    <div class="username">
                        Sofia
                    </div>
                    <div class="user-functions">
                        <i class="fa-solid fa-circle-notch cu-clickable"></i>
                        <i class="fa-solid fa-message cu-clickable"></i>
                        <i class="fa-solid fa-ellipsis-vertical cu-clickable"></i>
                    </div>
                </div>
                <div class="list-jumbotron">
                    <div class="alert">
                        <div class="bell-icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="banner">
                            <h4>Ricevi le notifiche di nuovi messaggi</h4>
                            <a href="#activenotify">
                                Attiva le notifiche desktop
                            </a>
                        </div>
                    </div>
                    <div class="search-chat">
                        <div class="search-icon cu-clickable">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="search-input">
                            <label for="user-search"></label>
                            <input type="text" id="user-search" placeholder="Cerca o crea nuova chat" v-model="mySearch"
                                @keyup.enter="searchingContacts">
                        </div>
                    </div>
                </div>
                <div class="list-users">
                    <div class="card-user" v-for="(item, index) in contacts" @click="activatedFriend(item, index)">
                        <img :src="`./img/avatar${item.avatar}.jpg `" alt="Avatar1">
                        <div class="card-infos">
                            <div>
                                <h2>{{item.name}}</h2>
                                <p>{{item.messages[0].message}}</p>
                            </div>
                            <div>
                                <p>{{item.messages[0].date.substring(11,16)}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chat-main">
                <!--FRIEND HEADER-->
                <div class="friend-header">
                    <div v-if="activeFriend !== null" id="active-friend">
                        <div class="friend-icon">
                            <img :src="`./img/avatar${activeFriend.avatar}.jpg `" alt="Avatar2">
                        </div>
                        <div class="friend-name">
                            <h2>{{activeFriend.name}}</h2>
                            <p>{{activeFriend.messages[1].message}}</p>
                        </div>
                        <div class="friend-functions">
                            <i class="fa-solid fa-magnifying-glass cu-clickable"></i>
                            <i class="fa-solid fa-paperclip cu-clickable"></i>
                            <i class="fa-solid fa-ellipsis-vertical cu-clickable"></i>
                        </div>
                    </div>
                    <div v-else>
                        <h2>Seleziona chat</h2>
                    </div>
                </div>
                <!--/FRIEND HEADER-->
                <!--CHAT BOX-->
                <div class="chat">
                    <div class="chat-box">
                        <!--MESSAGES BOX-->
                        <div v-if="activeFriend !== null">
                            <div v-for="(message, index) in activeFriend.messages">
                                <div
                                    :class="activeFriend.messages[index].status === 'sent'? 'message-sended' : 'message-receved'">
                                    <div class="message-box"
                                        :class="activeFriend.messages[index].status === 'sent'? 'send' : 'receve'">
                                        <div class="message-text">
                                            {{activeFriend.messages[index].message}}
                                        </div>
                                        <div class="message-time">
                                            {{activeFriend.messages[index].date}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                        </div>
                        <!--MESSAGES BOX-->
                    </div>
                </div>
                <!--/CHAT BOX-->
                <!--USER INPUT SECTION-->
                <div class="user-input">
                    <div class="emoji cu-clickable">
                        <i class="fa-regular fa-face-smile"></i>
                    </div>
                    <div class="input-text">
                        <label for="user-text-chat"></label>
                        <input type="text" id="user-text-chat" placeholder="Scrivi qui" class="inputmessage"
                            v-model="myMessage" @keyup.enter="sendMessage()">
                    </div>
                    <div class="send-vocal cu-clickable">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                </div>
                <!--/USER INPUT SECTION-->
            </div>
        </div>
    </div>
    <!--Custom Script-->
    <script src="js/script.js"></script>
</body>

</html>